
@{
    ViewBag.Title = "WelcomeMembership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Welcome Member!</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb mobile_display_none">
                    <li><a href="~/Home">Home</a></li>
                    <li class="active">Management</li>
                </ol>
                <h1 class="content_title_news text_uppercase">Welcome Member</h1>
            </div>
        </div>

        <div class="row content_text">
            <div class="col-sm-8 col-xs-12 content_global">                
                <p>
                    GALA’s law firm membership is designed for one member firm per country. Applicants should have significant expertise and experience in advertising, marketing and promotion law. Law firm members are sub-divided into three regions for member initiatives and meetings: Americas, Asia Pacific & Europe, Middle East & Africa (EMEA). Members will be assigned a regional group that is suitable based on their geographical location. Annual membership dues vary based upon market size and sophistication of the advertising market in the member country.
                </p>
            </div>

            <div class='col-sm-4 col-xs-12 membership'>
               <ul class="membershipList">
                   <li><a href="#">GALA Presentations</a></li>
                   <li><a href="#">GALA CLE Resources</a></li>
                   <li><a href="#">GALA Books</a></li>
                   <li><a href="#">GALA Business</a></li>
                   <li><a href="#">GALA Resources</a></li>
               </ul>
            </div>

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>

</section>
