
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about_content_slider ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Privacy Policy</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact ">
    <div class="container content ">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb mobile_display_none">
                    <li><a href="~/Home">Home</a></li>
                    <li class="active">Privacy Policy</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 content_global term_and_privacy">
                <p><strong>Privacy Policy </strong></p>
                <p>This Privacy Policy was last updated on March 1, 2016. &nbsp;</p>
                <p>We take your privacy very seriously and are committed to being transparent with how we use your information.&nbsp; This website (the &ldquo;Website&rdquo;) is controlled by the Global Advertising Lawyers Alliance (&ldquo;GALA&rdquo;) (&ldquo;we&rdquo; or &ldquo;us&rdquo;).</p>
                <p>Our Privacy Policy explains:</p>
                <ul>
                    <li>What information we collect and why we collect it.</li>
                    <li>How we use that information.</li>
                    <li>The choices we offer, including how to access and update information.</li>
                </ul>
                <p>If you have any questions about this Privacy Policy, please contact us at: <a href="mailto:privacy@galalaw.com">privacy@galalaw.com</a>.</p>
                <p><strong>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Information we collect</strong></p>
                <p>In general, we collect and use information about you for membership administration, to deliver member benefits (e.g., our newsletter), to inform you of GALA-related conferences, benefits and/or other opportunities, and to provide better services to our users. &nbsp;Except as described herein, we do not sell, rent or otherwise share or disclose your private, personally identifiable information to third parties.</p>
                <p>We collect information in two ways:</p>
                <ul>
                    <li><strong>Information you give us or information provided through a social network.</strong>&nbsp;For example, the Website may request that you provide personal information in order to apply for membership, create and access a member account, or link an account through a social network. We interact with social networks including, but not limited to Facebook, Twitter, and Linkedin. We have access to information you directly provide and information through those social networking services based on your privacy settings on those networks.&nbsp; &nbsp;&nbsp;</li>
                    <li>
                        <strong>Information we get from your use of the Website.</strong>&nbsp;We may collect information about the Website and how you use it, like when you visit different parts of the Website and what selections you make. We may also automatically collect certain technical information such as:
                        <ul>
                            <li><strong>Device information</strong></li>
                        </ul>
                    </li>
                </ul>
                <p>We may collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile information if you use a mobile device to access the Website).</p>
                <ul style="list-style:none;">                    
                    <li>
                        <ul>
                            <li><strong>Log information</strong></li>
                        </ul>
                    </li>
                </ul>
                <p>When you use the Website or view content provided by us, we may automatically collect and store certain information in server logs. &nbsp;This information may include:</p>
                <ul style="list-style:none;">
                    <li>
                        <ul>
                            <ul>
                                <li>details of how you used the Website, such as your navigation paths and search queries.</li>
                                <li>mobile related information if you access the Website using your mobile device.</li>
                                <li>internet protocol address.</li>
                                <li>device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL.</li>
                                <li>cookies that may uniquely identify your browser, mobile device, or your account.</li>
                                <li>Browser type, operating system, and other technical information</li>
                            </ul>
                        </ul>
                    </li>
                </ul>                
                <p><strong>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>How we use information we collect</strong></p>
                <p>We use the information we collect from the Website to provide, maintain, protect and improve the Website, to develop new services and offerings and to protect us and our users.</p>
                <p>When you contact us, we may keep a record of your communication as well as the other information in this Privacy Policy to help solve any issues you might be facing. We may use your email address to inform you about the Website, such as letting you know about upcoming changes or improvements.</p>
                <p>We may use aggregated and demographic information to analyze how users use the Website. Your personally identifiable information is never disclosed to the parties that perform those analytics services for us, unless you are notified or consent.</p>
                <p>Please keep in mind that comments sections, forums, and other similar areas of the Website, to the extent they are made available to users, are public.&nbsp; Any information posted in those areas is viewable and usable by anyone that has access, so please do not post any information that you wish to keep confidential.</p>
                <p>We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy.&nbsp;</p>
                <p><strong>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Choice</strong></p>
                <p>If we provide you with any mailings or other communication, you can always opt out of receiving further communications.&nbsp;</p>
                <p>You may also set your browser to block all cookies, including cookies associated with the Website, or to indicate when a cookie is being set by us. However, it&rsquo;s important to remember that some parts of the Website may not function properly if your cookies are disabled.</p>
                <p>You have the right to remove your personal information from our databases.&nbsp; To do this, please delete your membership account.&nbsp; If you have any problems or questions, please let us know by contacting us here <a href="mailto:privacy@galalaw.com">privacy@galalaw.com</a> and we will assist you with the process.</p>
                <p><strong>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Accessing and updating your personal information</strong></p>
                <p>Whenever you visit the Website, we aim to provide you with access to your personal information in your account. If that information is wrong, we strive to give you ways to update it quickly or to delete it unless we have to keep that information for legitimate business or legal purposes. When updating your personal information, we may ask you to verify your identity before we can act on your request.</p>
                <p><strong>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Do Not Track Signals</strong></p>
                <p>Some web browsers have settings that include &ldquo;do not track signals.&rdquo;&nbsp; The Website is not currently engineered to respond to those signals from browsers.&nbsp;</p>
                <p><strong>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Information we share</strong></p>
                <p>We do not share personal information with companies, outside organizations and individuals unless one of the following circumstances apply:</p>
                <ul>
                    <li><strong>With your consent</strong></li>
                </ul>
                <p>We will share personal information with companies, outside organizations or individuals only if we have your consent.&nbsp;</p>
                <ul>
                    <li><strong>For external processing </strong></li>
                </ul>
                <p>We provide personal information to our affiliates or other agents, vendors or service providers who perform functions on our behalf (e.g., payment processors, third-party mailing services), based on our instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.</p>
                <ul>
                    <li><strong>For legal reasons</strong></li>
                </ul>
                <p>We will share personal information with companies, outside organizations or individuals if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to meet any applicable law, regulation, legal process or enforceable governmental request, detect, prevent, or otherwise address disputes, claims, or to persons holding a legal or beneficial interest; or to address fraud, security or technical issues or protect against harm to the rights, property or safety of our users or the public as required or permitted by law.</p>
                <ul>
                    <li><strong>In case of a sale or asset transfer </strong></li>
                </ul>
                <p>If we become involved in a merger, acquisition or other transaction involving the sale of some or all of our assets, user information, including personal information collected from you during your visits to the Website, could be included in the transferred assets. Should such an event occur, we will use reasonable means to notify you, either through email and/or a prominent notice on the Website.</p>
                <ul>
                    <li><strong>For business purposes </strong></li>
                </ul>
                <p>We may share personally identifiable information publicly and with our partners we have a relationship with, or connected Websites, in connection with GALA-hosted and GALA sponsored conferences, through the GALA Member Country Directory, or for other similar purposes.</p>
                <p>In addition, we may also share aggregated,&nbsp;non-personally identifiable information publicly and with our partners we have a relationship with, or connected Websites. &nbsp;For example, we may share information to show trends about the general use of the Website.</p>
                <p>The GALA website uses interfaces with social media sites such as Facebook, LinkedIn, Twitter and others. If you choose to "like" or share information from the GALA website through these services, you should review the privacy policy of that service. If you are a member of a social media site, the interfaces may allow the social media site to connect your site visit to your personally identifiable information.</p>
                <p>From time to time we may partner or enter into arrangements with another party to provide specific benefits and/or services to our members. We will provide to such partners the information that we believe is reasonably necessary for them to provide such benefits or services to you. If you do not wish to receive marketing communications from our partners or us, you may express your preference to not be so contacted by sending a letter, calling or e-mailing us as directed in Section 3 informing us of your preference.&nbsp;</p>
                <p><strong>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Information security</strong></p>
                <p>We work hard to protect our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold however no website is entirely secure.&nbsp; You should protect the account information in your possession as well.</p>
                <p><strong>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Third-Party Websites</strong></p>
                <p>Our Privacy Policy does not apply to services offered by other companies or individuals, including products or Websites that may be displayed to you on the Website.&nbsp; We also do not control the privacy policies and your privacy settings on third-party Websites, including social networks.</p>
                <p><strong>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Enforcement</strong></p>
                <p>We regularly review our compliance with our Privacy Policy. When we receive formal written complaints, we will contact the person who made the complaint to follow up.</p>
                <p><strong>10.&nbsp; </strong><strong>Children Under 13</strong></p>
                <p>Our Website is not directed toward children under 13 and we will not knowingly collect information for any child under the age of 13.&nbsp; If you are the parent of a child under the age of 13 and believe your child may have provided his or her information to us through the Website, please contact us at <a href="mailto:privacy@galalaw.com">privacy@galalaw.com</a><strong>.</strong></p>
                <p><strong>11.&nbsp; </strong><strong>The Website is Located in the United States</strong>
                <p>The Website is hosted in the United States.&nbsp; If you are outside of the United States, your information will be processed and stored in the United States and by using this Website, you are consenting to such processing and storage.</p>
                <p><strong>12.&nbsp; </strong><strong>Changes</strong></p>
                <p>Our Privacy Policy may change from time to time. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain changes, email notification of privacy policy changes).</p>
            </div>
        </div>
    </div>
</section>

