
@{
    ViewBag.Title = "WelcomeMembershipAssociate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Welcome Associate Member!</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb mobile_display_none">
                    <li><a href="~/Home">Home</a></li>
                    <li class="active">Management</li>
                </ol>
                <h1 class="content_title_news text_uppercase">Welcome Associate Member</h1>
            </div>
        </div>

        <div class="row content_text">
            <div class="col-sm-8 col-xs-12 content_global">
                <p>
                    Associate membership is open to in-house counsel and senior marketing executives with an interest in advertising, marketing and promotion law. Associate members will have access to, among other things, written materials, visual aids, educational seminars and networking opportunities with some of the world's leading advertising and marketing practitioners that are not otherwise available. Annual membership is complimentary for all Associate Members, however those interested will be asked to complete an application form in order to gain access to the Member's Only Section of the GALA website.
                </p>
            </div>

            <div class='col-sm-4 col-xs-12 membership'>
                <ul class="membershipList">
                    <li><a href="#">About GALA Associate Membership</a></li>
                    <li><a href="#">GALA Presentations</a></li>
                    <li><a href="#">GALA CLE Resources</a></li>
                    <li><a href="#">GALA Books</a></li>
                    <li><a href="#">Contact GALA</a></li>
                </ul>
            </div>

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>

</section>


